@import url('https://fonts.googleapis.com/css2?family=Roboto Mono &display=swap');
 * {
    box-sizing: border-box;
 }

 body {
   background-color: #8e44ad;
   color: #fff;
   font-family: 'Roboto',sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
 }
 
 .counter-container{
   flex-direction: column;
   justify-content: center;
   margin: 30px 50px;
 }
 .counter{
   font-size: 60px;
   margin-top: 10px;
 }
 @media(max-width:580px) {
  body 
  {
   flex-direction: column;
  }
 }