@import url('https://fonts.googleapis.com/css2?family=Open+sans');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Open Sans',sans-serif;
  height: 100vh;
}
.slider-container{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.left-slide{
  position: absolute;
  height: 100%;
  width: 35%;
  top:0;
  left:0;
  transition: transform 0.5s ease-in-out;
}
.left-slide > div {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}
.right-slide{
  position: absolute;
  height: 100%;
  width: 65%;
  top: 0;
  left: 35%;
  transition: transform 0.5s ease-in-out;
}
.right-slide > div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
button{
  background-color: #fff;
  font-size: 16px;
  border: none;
  padding: 15px;
  color:#aaa;
  cursor: pointer;
}
button:hover {
  color: #222;
}
button:focus {
  outline: none;
}
.slider-container .action-buttons button{
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.slider-container .action-buttons .down-button{
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.slider-container .action-buttons .up-button{
  transform: translatey(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}