@import url('https://fonts.googleapis.com/css2?family=poppins,wght@0,100..900;1,100..900&display=swap');
 * {
    box-sizing: border-box;
 }

 body {
    background-color: rebeccapurple;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
 }
 
 .btn{
   background-color: #ffffff;
   color: rebeccapurple;
   padding: 1rem;
   font-family: inherit;
   border-radius: 5px;
   border: none;
   font-weight: bold;
   cursor: pointer;
 }
 .btn:focus{
   outline: none;
 }
 .btn:active {
   transform: scale(0.98);
 }
 #toasts{
   position: fixed;
   bottom: 10px;
   right: 10px;
   align-items: flex-end;
 }
 .toast{
   background-color: #ffffff;
   
   padding: 1rem 2rem;
   margin: 0.5rem;
   border-radius: 5px;
 }
 .toast.info{
   color: rebeccapurple;
 }
 .toast.success{
   color: green;
 }
 .toast.error{
   color: red;
 }