@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  background-color: #f5f5f5;
  border: 2px solid steelblue;
}

.tool-box {
  background-color: steelblue;
  border: 1px solid slateblue;
  width: 604px;
  padding: 1rem;
  display: flex;
}

.tool-box > *{
  background-color: #fff;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 2rem;
  padding: 0.25rem;
  margin: 0.25rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tool-box > :last-child {
  margin-left: auto;
}